<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion à l'administration</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            background-image:
            url('{{ asset('build/images/register_bg.jpg') }}');
            background-repeat: no-repeat; background-size: cover; background-position: center; 
        }

       /* .card {
            margin-top: 25%;
        }*/
    </style>
    

</head>
<body>
    <div class="col-md-4 m-auto">
        <div class="card bg-white">
            <div class="card-header">
                <h4 class="card-title text-center">
                    <i class="fas fa-lock"></i>
                    Connexion à l'administration
                </h4>
            </div>
            <div class="card-body">
                {% if hasError %}
                    <div class="alert alert-warning">
                        <p>Les informations que vous avez fournies ne sont pas bonnes.</p>
                    </div>
                {% endif %}
                <form action="{{ path('admin_account_login') }}" method="post">
                   <input type="hidden" name="_target_path" value="{{ path('admin_dashboard') }}"/>
                    <div class="form-group"><label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse email ..." name="_username" value="{{ username }}"></div>
                    <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe ..." name="_password"></div>
                    <div class="form-group d-inline-flex">
                        <button type="submit" class="btn btn-light-blue btn-sm">
                            <i class="fas fa-lock-open"></i>
                            Connexion !
                        </button>
                        <a href="{{ path('homepage') }}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            Retour au site
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>