{% extends 'base.html.twig' %}

{% block title %}Vos réservations passées et à venir{% endblock %}

{% block body %}
<style>
    p {
        font-family: roboto,sans-serif;
    }
    .container {
        font-family: roboto,sans-serif;
    }
</style>

<div class="container">
    <h1 class="my-5 text-center">Mes réservations</h1>
    <div class="alert alert-dark mt-3 text-center">
        <p>Retrouvez ci-dessous toutes vos réservations passées et à venir</p>
    </div>

    {% for booking in app.user.bookings %}
        {% set ad = booking.ad %}

        <div class="row mt-5">
            <div class="col-md-4">
                <img src="{{ad.coverImage}}" alt="Photo de la prestation {{ad.title}}" class="img-fluid">

                <div class="mt-3">
                    {% set comment = ad.commentFromAuthor(app.user) %}
                    {% if comment is not null %}
                        <strong>Note donnée : </strong> {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                    {% else %}
                        <p class="mb-0">Vous n'avez pas encore donné de note.</p>
                        <a href="{{ path('booking_show', {'id': booking.id}) }}#comment">Je donne mon avis !</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <h4>{{ad.title}}</h4>
                <p>
                    Réservation <strong>n°{{booking.id}}</strong><br>
                    Statut de la resérvation <strong>{{booking.status}}</strong><br>
                    Du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}} ({{booking.amount | number_format(2, ',', ' ')}} &euro;)
                </p>
                <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-dark">Plus d'informations</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}