{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<style>
    body {
        justify-content: center;
        height: 100vh;
        background-image:
        //url('{{ asset('build/images/nature1.jpg') }}');
        margin:0;
        padding:0;  
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        min-height:100vh;
    }

    .contenu {
        flex:1 0 auto;
    }

    .card-header{
        background-color:#f76c6f!important;
    }

    .container, p{
        font-family:roboto,sans-serif;
    }

    .btn{
        background-color:pink;
        color:white;
    }
     
</style>

<div class="container contenu">
    <div class="row ">
        <div class="col-md-9 m-auto" align="center">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-4 mb-3">
                    <strong>Modification du mot de passe !</strong>
                </h5>
                
                <div class="card-body px-lg-5 pt-0 mt-3">
                                    {{ form_start(form) }}

                    
                        <div class="md-form mt-0 input-with-post-icon">
                            <i class="fas fa-lock input-prefix"></i>
                            {{ form_row(form.oldPassword) }}
                        </div>
                    
                        <div class="md-form mt-0 input-with-post-icon">
                            <i class="fas fa-lock input-prefix"></i>
                            {{ form_row(form.newPassword) }}
                        </div>
                    
                        <div class="md-form mt-0 input-with-post-icon"> 
                            <i class="fas fa-lock input-prefix"></i>
                            {{ form_row(form.confirmPassword) }}
                        </div>
                    
                    
                    <div class="form-group">
                        <p>Si vous avez terminé vos modifications, vous pouvez les sauvegarder</p>
                        <button type="submit" class="btn">
                                <i class="fas fa-check"></i>
                                Modifier le mot de passe
                        </button>
                    </div>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>

{% endblock %}
