{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
    body {
        justify-content: center;
        height: 100vh;
        background-image:
        //url('{{ asset('build/images/nature1.jpg') }}');
        url('{{ asset('build/images/nature1.jpg') }}');
        background-repeat: no-repeat; background-position: center; 
        margin:0;
        padding:0;  
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        min-height:100vh;
    }

    .contenu {
        flex:1 0 auto;
    }
    
    .card-header{
        background-color:#f76c6f;
    }

    p{
            margin-bottom: 0rem;
            font-family:roboto,sans-serif;
            color: rgba(150, 150, 150, 1);
        }


        .heart {
            fill: #f76c6f;
            position: relative;
            top: 5px;
            width: 50px;
            animation: pulse 1s ease infinite;
        }

        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.3); }
            100% { transform: scale(1); }
        }

        i{
            padding-top: 7px;
            border: 1px solid rgba(229, 79, 136, 1);
            width: 32px;
            color: rgba(229, 79, 136, 1)!important;
            height: 32px;
            border-radius: 100%;
            margin-right: 10px;

        }

        .btn-connect{
            background-color: #f76c6f;
            width: 90%;
            border: none;
            height: 50px;
            border-radius: 4px;
            color: rgba(252, 255, 255, 1);
            font-size: 1.1em;
            cursor: pointer;
            transition: .2s ease-out;

        }


        .inp-info{
            background-color: transparent!important;
            font-size: 1em!important;
            padding-top: 18px!important;
            padding-bottom: 18px!important;
            color: rgba(140, 140, 140, 1)!important;
            border: none!important;
            height: 100%!important;
            width: 75%!important;
            border-bottom: none!important;

        }

        .inp-info-focus{
            outline: none;
            border-bottom: none!important;
        }

        .inp-container {
            border: 1px solid rgba(182, 182, 182, .8);
            //width: 90%;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
            transition: .2s ease-out;
        }

        .inp-container-focus {
            border: 1px solid rgba(229, 80, 136, 1);
            box-shadow: 0px 0px 11px rgba(178, 33, 90, .3);
            outline:none!important;
        }

        textarea{
            border: 1px solid rgba(0,0,0,0.1);
        }

        .btn{
            background-color:pink;
            color:white;
        }

    
</style>

<div class="container mt-5 contenu">
    <div class="row mb-3">
        <div class="col" align="center">
            <div class="card">
                <h5 class="card-header white-text text-center py-4 mb-5">
                    <strong>Inscrivez vous sur notre site !</strong>
                </h5>
                
                <div class="card-body px-lg-5 pt-0">
                                    {{ form_start(form) }}

                    <div class="row mb-4">
                        <div class="col">
                            <div class="md-form mt-0 input-with-post-icon inp-container">
                                <i class="fas fa-user input-prefix"></i>
                                {{ form_row(form.firstName, { 'attr': {'class': 'inp-info'}}) }} 
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form mt-0 input-with-post-icon inp-container">
                                <i class="fas fa-user input-prefix"></i>
                                {{ form_row(form.lastName, { 'attr': {'class': 'inp-info'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">   
                            <div class="md-form mt-0 input-with-post-icon inp-container">
                                <i class="fas fa-envelope  input-prefix"></i>
                                {{ form_row(form.email, { 'attr': {'class': 'inp-info'}}) }} 
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form mt-0 input-with-post-icon inp-container">
                                <i class="fas fa-image input-prefix"></i>
                                {{ form_row(form.picture, { 'attr': {'class': 'inp-info'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="md-form mt-0 inp-container">

                                {{ form_label(form.hash) }}

                                {{ form_widget(form.hash,{'id': 'password','attr': {'class': 'inp-info'}}) }}
                                
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="md-form mt-0 inp-container">
                                {{ form_label(form.passwordConfirm) }}

                                {{ form_widget(form.passwordConfirm,{'id': 'password-custom','attr': {'class': 'inp-info'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">
                                
                                Confirmez l'inscription
                        </button>
                    </div>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/js/password.js') }}"></script>
<script>
    $('input').focus(function() {
    $(this).closest('.inp-container').toggleClass('inp-container-focus');
    $(this).closest('.inp-info').css('border-bottom','none');
    });

    $('input').focusout(function() {
    $(this).closest('.inp-container').toggleClass('inp-container-focus');
    });

    $("label").text("");
    $("input").removeClass("form-control");
    $("input").parent().removeClass("form-group");

    $("div").hasClass('alert-success').css('background-color','pink');
    $("div").hasClass('alert-success').children('p').css('background-color','pink');
</script>

{% endblock %}
