{% extends 'presta/base.html.twig' %}

{% block title %}Page de {{user.fullName | capitalize}} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-3 text-center">
                <img src="{{ user.picture }}" class="avatar mb-3" alt="Avatar de {{ user.fullName | capitalize}}">
                <br>
                <span class="badge badge-dark"> {{ user.ads | length }} prestations </span>
            </div>
            <div class="col-9">
                <h1> {{ user.fullName | capitalize }}</h1>
                {# Compare le user au user courant #}               
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('presta_account_profile') }}" class="btn btn-dark mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('presta_account_password') }}" class="btn btn-dark mb-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="my-5 text-center">  {{ user.description | raw}} </div>

        <hr>

        <h2 class="my-5 text-center"> Les prestations de {{ user.fullName | capitalize}}</h2>

        {% if user.ads | length  > 0 %}
            <div class="row">
                {% for ad in user.ads %}
                    {% include 'presta/ad/_ad.html.twig' %}   
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-dark">
                <p>
                    <strong> {{ user.fullName | capitalize }}</strong> n'a pas encore de prestation sur le site !
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
