<style>


    .nav-item a{
        font-size: 14px;
        color: white;
        font-weight: 500;
        letter-spacing: .2px;
        text-decoration: none;
    }

    a.nav-link.waves-effect.waves-light {
        border-right: 2px solid white;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 2.5;
    }



</style>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="{{ path('homepage') }}">
        <svg width="356" height="72.05340807144857" viewBox="0 0 356 72.05340807144857" class="css-1j8o68f"><defs id="SvgjsDefs11739"></defs><g id="SvgjsG11740" featurekey="symbolFeature-0" transform="matrix(1.1111027282593777,0,0,1.1111027282593777,-5.555058000338912,-19.528411184641907)" fill="#ffffff"><path xmlns="http://www.w3.org/2000/svg" d="M70.556,43.83C67.743,26.6,39.086,25.71,40.91,51.583C41.824,64.59,54.524,80.91,56.509,82.422  c2.492,0.116,22.71-4.22,31.775-13.597C106.312,50.179,83.786,32.436,70.556,43.83z"></path><path xmlns="http://www.w3.org/2000/svg" d="M48.119,75.592c-4.329-6.586-9.081-15.76-9.648-23.838c-0.655-9.288,2.403-14.666,5.085-17.543  c3.136-3.364,7.47-5.217,12.204-5.217c3.551,0,7.31,1.152,10.428,3.4c-3.93-20.93-30.481-18.324-33.353-0.715  C17.77,18.702-7.881,38.904,12.647,60.139C22.358,70.186,43.316,75.15,48.119,75.592z"></path></g><g id="SvgjsG11741" featurekey="textGroupContainer" transform="matrix(1,0,0,1,355,3)" fill="#ffffff"><rect xmlns="http://www.w3.org/2000/svg" y="0" height="1" width="1" opacity="0"></rect><rect xmlns="http://www.w3.org/2000/svg" y="0" x="-235" width="3" height="66"></rect></g><g id="SvgjsG11742" featurekey="nameFeature-0" transform="matrix(0.9878494934362182,0,0,0.9878494934362182,137.99999952895666,14.092660481453027)" fill="#ffffff"><path d="M2.82 5.98 l5.8 10.9 l2.42 -4.48 l1.16 7.6 l0.72 0 l-1.5 -9.84 l-2.8 5.18 l-4.98 -9.36 l-0.82 0 z M9.2 11.36 l-0.94 1.74 l0.42 0.76 l1.32 -2.5 l1.76 -3.28 l0.06 -0.14 l0.66 -1.22 l0.48 0 l0.06 0.48 l1.5 9.76 l0.34 2.3 l-0.66 0 l-1.52 -9.9 l-0.18 -1.2 l-0.56 1.06 l1.6 10.48 l-0.02 0 l0.06 0.3 l2.12 0 l-2.12 -14.02 l-1.54 0 z M7.98 17.06 l-5.74 -10.82 l-0.12 -0.2 l-2.12 13.96 l3.5 0 l0.64 -4.14 l-0.42 -0.78 l-0.16 -0.3 l-0.68 4.48 l-2.04 0 l1.68 -10.96 l6.12 11.52 l2.18 -4.14 l-0.16 -1.06 l-0.02 -0.14 l-2 3.8 z M3.24 12.620000000000001 l3.92 7.38 l0.82 0 l-5.12 -9.62 l-1.3 8.36 l0.72 0 z M23.08 18.72 l0.72 0 l-0.02 -5.82 l4.26 -6.18 l0.78 0 l-4.34 6.22 l0 6.34 l-2.06 0 l0.02 -6.34 l-4.86 -6.94 l-0.88 0 l4.98 7.16 l0 6.84 l3.52 0 l0 -6.84 l5 -7.16 l-2.52 0 l-4.6 6.66 l0 6.06 z M26.02 6 l-3.34 4.9 l-2.96 -4.18 l0.78 0 l2.24 3.16 l0.44 -0.64 l-2.3 -3.24 l-2.52 0 l3.98 5.66 l0.34 0.52 l4.22 -6.18 l-0.88 0 z M36.120000000000005 19.3 l-0.36 0 l-0.16 -0.54 l-2.92 -9.38 l-0.8 -2.68 l0.62 0 l3.12 10.16 l0.32 1.08 l0.12 0 l0.38 -0.94 l-0.38 -1.16 l-3.02 -9.84 l-2.14 0 l4.32 14 l1.38 0 l1.82 -4.34 l0.38 -0.92 l0.52 -1.3 l-0.38 -0.9 l-0.54 1.28 l-0.38 0.92 z M33.68 6 l3.1 10.2 l2.2 -5.26 l3.96 9.08 l0.78 0 l-4.74 -10.9 l-2.12 4.88 l-2.42 -8 l-0.76 0 z M43.84 12.18 l1.68 -5.48 l2.04 0 l-0.18 0.58 l-2.04 6.68 l-1.16 3.78 l-4.92 -11.36 l-0.52 0 l-2.12 4.92 l0.32 1.06 l2.06 -4.76 l0.64 1.46 l4.48 10.38 l0.18 0.4 l4.22 -13.84 l-3.54 0 l-1.56 5.18 z M43.96 13.92 l-0.42 -1 l-2.84 -6.54 l-0.78 0 l4.16 9.6 l2.68 -8.74 l-0.76 0 z M49.92 6.039999999999999 l0.72 0 l0 13.24 l7.66 0 l0 -2 l-5.64 0 l0 -1.92 l0.72 0 l0 1.2 l5.64 0 l0 3.44 l-9.1 0 l0 -13.96 z M51.28 6.039999999999999 l7.64 0 l0 3.42 l-4.8 0 l0 -0.72 l4.08 0 l0 -1.98 l-6.2 0 l0 5.78 l4.66 0 l0 0.72 l-5.38 0 l0 -7.22 z M51.28 13.9 l6.08 0 l0 -2 l-4.7 0 l0 -4.54 l4.84 0 l0 0.72 l-4.12 0 l0 3.1 l4.7 0 l0 3.44 l-6.08 0 l0 3.32 l5.6 0 l0 0.72 l-6.32 0 l0 -4.76 z M71 8.02 c-1.2 -1.26 -2.74 -2 -4.24 -2 l-5.86 0 l0 0.72 l5.86 0.02 c0.94 0 1.84 0.3 2.7 0.88 c1.68 1.18 2.8 3.3 2.8 5.36 c0 1.08 -0.24 2.08 -0.74 3.02 c-1 1.86 -3.02 3.22 -4.76 3.22 l-5.14 0 l0 -11.22 l4.98 0.02 c0.72 0 1.42 0.22 2.08 0.68 c1.34 0.9 2.22 2.62 2.22 4.28 c0 1.22 -0.52 2.48 -1.46 3.46 c-0.88 0.88 -1.94 1.44 -2.82 1.44 l-2.28 0 l0.02 -7.9 l-0.7 0 l-0.02 8.26 l0 0.36 l2.98 0 c1.1 0 2.38 -0.62 3.36 -1.66 c1.06 -1.14 1.64 -2.54 1.64 -3.96 c0 -1.44 -0.56 -2.88 -1.58 -4 c-1.1 -1.1 -2.3 -1.7 -3.44 -1.7 l-5.7 0 l0 12.68 l5.86 0 c1.44 0 3 -0.74 4.18 -2 c1.3 -1.34 2.02 -3.12 2.02 -4.98 s-0.68 -3.62 -1.96 -4.98 z M66.53999999999999 17.259999999999998 c0.56 0 1.14 -0.22 1.76 -0.64 c1.22 -0.86 2 -2.3 2 -3.64 c0 -0.72 -0.18 -1.42 -0.52 -2.1 c-0.7 -1.34 -1.96 -2.18 -3.24 -2.18 l-4.3 0.02 l0.02 9.94 l0.72 0 l0 -9.24 l3.56 -0.02 c0.46 0 0.94 0.18 1.44 0.52 c1.02 0.72 1.6 1.84 1.6 3.06 c0 0.82 -0.38 1.74 -1 2.44 s-1.38 1.12 -2.04 1.12 l-1.42 0 l0 0.72 l1.42 0 z M84.38 8.02 c-1.2 -1.26 -2.74 -2 -4.24 -2 l-5.86 0 l0 0.72 l5.86 0.02 c0.94 0 1.84 0.3 2.7 0.88 c1.68 1.18 2.8 3.3 2.8 5.36 c0 1.08 -0.24 2.08 -0.74 3.02 c-1 1.86 -3.02 3.22 -4.76 3.22 l-5.14 0 l0 -11.22 l4.98 0.02 c0.72 0 1.42 0.22 2.08 0.68 c1.34 0.9 2.22 2.62 2.22 4.28 c0 1.22 -0.52 2.48 -1.46 3.46 c-0.88 0.88 -1.94 1.44 -2.82 1.44 l-2.28 0 l0.02 -7.9 l-0.7 0 l-0.02 8.26 l0 0.36 l2.98 0 c1.1 0 2.38 -0.62 3.36 -1.66 c1.06 -1.14 1.64 -2.54 1.64 -3.96 c0 -1.44 -0.56 -2.88 -1.58 -4 c-1.1 -1.1 -2.3 -1.7 -3.44 -1.7 l-5.7 0 l0 12.68 l5.86 0 c1.44 0 3 -0.74 4.18 -2 c1.3 -1.34 2.02 -3.12 2.02 -4.98 s-0.68 -3.62 -1.96 -4.98 z M79.91999999999999 17.259999999999998 c0.56 0 1.14 -0.22 1.76 -0.64 c1.22 -0.86 2 -2.3 2 -3.64 c0 -0.72 -0.18 -1.42 -0.52 -2.1 c-0.7 -1.34 -1.96 -2.18 -3.24 -2.18 l-4.3 0.02 l0.02 9.94 l0.72 0 l0 -9.24 l3.56 -0.02 c0.46 0 0.94 0.18 1.44 0.52 c1.02 0.72 1.6 1.84 1.6 3.06 c0 0.82 -0.38 1.74 -1 2.44 s-1.38 1.12 -2.04 1.12 l-1.42 0 l0 0.72 l1.42 0 z M87.59999999999998 6 l2.1 0 l0 12.66 l-0.72 0 l0 -11.94 l-0.66 0 l0 12.56 l2.02 0 l0 -13.28 l0.72 0 l0 14 l-3.46 0 l0 -14 z M102.33999999999997 14.3 l-8.18 -8.3 l-1 0 l9.9 10.06 l0 -8.66 l-0.72 0 l0 6.9 z M101.67999999999998 12.7 l0 -6 l2.04 0 l0 12.58 l-0.34 0 l-0.08 -0.08 l-9.16 -9.28 l0 10.08 l2.1 0 l0 -5.9 l-0.74 -0.76 l0 5.94 l-0.64 0 l0 -7.6 l8.3 8.32 l1.28 0 l0 -14 l-3.48 0 l0 5.92 z M93.47999999999998 20 l0 -11.7 l9.58 9.72 l0 -1.06 l-10.28 -10.38 l0 13.42 l0.7 0 z M112.49999999999999 20 c-1.24 0 -2.4 -0.32 -3.46 -0.96 c-2.16 -1.26 -3.52 -3.64 -3.52 -6.02 c0 -1.24 0.32 -2.42 0.96 -3.52 c1.28 -2.22 3.48 -3.48 6.02 -3.48 c1.74 0 3.42 0.66 4.7 1.84 c0.04 0.02 0.1 0.06 0.16 0.12 l0.14 0.16 l-0.5 0.52 l-0.28 -0.28 c-1.14 -1.06 -2.64 -1.64 -4.22 -1.64 c-1.12 0 -2.16 0.28 -3.12 0.84 c-1.94 1.12 -3.14 3.2 -3.14 5.44 c0 1.12 0.28 2.16 0.84 3.12 c1.12 1.94 3.18 3.14 5.42 3.14 c1.36 0 2.4 -0.38 4.1 -1.48 l0 -4.6 l-4.38 0 l0 -0.72 l5.08 0 l0 5.7 l-0.14 0.12 c-1.78 1.22 -3.06 1.7 -4.66 1.7 z M112.49999999999999 18.64 c-1 0 -1.94 -0.26 -2.8 -0.76 c-1.76 -1.02 -2.84 -2.86 -2.84 -4.86 c0 -1.02 0.26 -1.98 0.76 -2.86 c1.02 -1.74 2.82 -2.78 4.88 -2.78 c1.14 0 2.24 0.36 3.3 1.06 l0.52 0.4 l0.26 0.26 l-1.44 1.56 l-0.64 -0.5 c-0.58 -0.42 -1.26 -0.64 -2 -0.64 c-0.6 0 -1.18 0.16 -1.72 0.46 c-1.1 0.64 -1.76 1.76 -1.76 3.04 c0 0.6 0.16 1.18 0.48 1.72 c0.62 1.1 1.74 1.76 3 1.76 c0.5 0 0.96 -0.1 1.38 -0.32 l0 -0.32 l-1.66 0 l0 -2.04 l3.74 0 l0 3.56 l-0.46 0.36 c-0.9 0.62 -1.82 0.9 -3 0.9 z M112.49999999999999 8.1 c-0.88 0 -1.7 0.22 -2.46 0.66 c-1.52 0.88 -2.46 2.5 -2.46 4.26 c0 0.88 0.22 1.7 0.66 2.44 c0.88 1.52 2.5 2.46 4.26 2.46 c0.98 0 1.86 -0.26 2.6 -0.76 l0.14 -0.12 l0 -2.5 l-2.3 0 l0 0.6 l1.66 0 l0 1.5 l-0.2 0.1 c-0.66 0.32 -1.28 0.48 -1.9 0.48 c-0.72 0 -1.42 -0.2 -2.08 -0.58 c-1.34 -0.78 -2.12 -2.08 -2.12 -3.62 c0 -0.76 0.18 -1.46 0.56 -2.12 c0.74 -1.28 2.1 -2.08 3.64 -2.08 c0.86 0 1.68 0.26 2.42 0.76 l0.14 0.1 l0.48 -0.52 l-0.16 -0.12 c-0.86 -0.62 -1.82 -0.94 -2.88 -0.94 z M119.53999999999999 5.98 l0.74 0 l0 13.28 l1.98 0 l0 -4.82 l2.46 0 c0.9 0 1.64 -0.2 2.26 -0.62 c0.96 -0.58 1.46 -1.76 1.46 -3.3 c0 -2.48 -1.4 -3.8 -3.98 -3.8 l-2.86 0 l0 4.98 l2.56 0 c1.04 0 1.44 -0.32 1.44 -1.18 c0 -0.7 -0.34 -1.04 -1.04 -1.04 l-1.52 0 l0 1.62 l-0.74 0.02 l0 -2.34 l2.26 0 c1.1 0 1.72 0.64 1.72 1.74 c0 1.28 -0.7 1.92 -2.12 1.92 l-3.24 0 l0 -6.46 l3.54 0 c2.9 0 4.68 1.68 4.68 4.54 c0 2.96 -1.62 4.66 -4.42 4.66 l-1.72 0 l0 4.82 l-3.46 0 l0 -14.02 z M120.92 13.1 l3.36 0 c1.86 0 2.76 -0.8 2.76 -2.48 c0 -1.58 -0.86 -2.5 -2.24 -2.5 l-2.5 0 l0 -0.72 l2.5 0 c0.56 0 1.08 0.12 1.54 0.38 c0.94 0.5 1.42 1.5 1.42 2.84 c0 2.08 -1.16 3.18 -3.48 3.18 l-2.68 0 l0 5 l-0.68 0 l0 -5.7 z M130.62 5.98 l2.06 0 l0 12.7 l-0.74 0 l0 -11.98 l-0.6 0 l0 12.58 l6.58 0 l0 -1.92 l-3.26 0 l0 -0.72 l3.98 0 l0 3.36 l-8.02 0 l0 -14.02 z M133.34 5.98 l0.72 0 l0 11.96 l3.22 0 l0 0.74 l-3.94 0 l0 -12.7 z M141.92000000000002 18.76 l0.88 0 l0.7 -1.68 l5.22 0.02 l1.28 2.9 l3.68 -0.02 l-6.3 -13.98 l-1.28 0 l-6.26 13.98 l3.9 0 l0.68 -1.6 l3.98 0 l-0.3 -0.68 l-4.12 0 l-0.64 1.58 l-2.38 0 l5.54 -12.6 l0.48 0 l5.56 12.6 l-2.12 0 l-1.28 -2.86 l-6.2 0 z M144.3 15.24 l2.44 -5.82 l4.1 9.32 l0.82 0 l-4.92 -10.96 l-3.6 8.08 l5.8 0 l-2.2 -4.86 l-1.52 3.66 l0.78 0 l0.74 -1.82 l1.1 2.4 l-3.54 0 z M164.28 14.3 l-8.18 -8.3 l-1 0 l9.9 10.06 l0 -8.66 l-0.72 0 l0 6.9 z M163.62 12.7 l0 -6 l2.04 0 l0 12.58 l-0.34 0 l-0.08 -0.08 l-9.16 -9.28 l0 10.08 l2.1 0 l0 -5.9 l-0.74 -0.76 l0 5.94 l-0.64 0 l0 -7.6 l8.3 8.32 l1.28 0 l0 -14 l-3.48 0 l0 5.92 z M155.42000000000002 20 l0 -11.7 l9.58 9.72 l0 -1.06 l-10.28 -10.38 l0 13.42 l0.7 0 z M177.45999999999998 14.3 l-8.18 -8.3 l-1 0 l9.9 10.06 l0 -8.66 l-0.72 0 l0 6.9 z M176.79999999999998 12.7 l0 -6 l2.04 0 l0 12.58 l-0.34 0 l-0.08 -0.08 l-9.16 -9.28 l0 10.08 l2.1 0 l0 -5.9 l-0.74 -0.76 l0 5.94 l-0.64 0 l0 -7.6 l8.3 8.32 l1.28 0 l0 -14 l-3.48 0 l0 5.92 z M168.6 20 l0 -11.7 l9.58 9.72 l0 -1.06 l-10.28 -10.38 l0 13.42 l0.7 0 z M180.93999999999997 6.039999999999999 l0.72 0 l0 13.24 l7.66 0 l0 -2 l-5.64 0 l0 -1.92 l0.72 0 l0 1.2 l5.64 0 l0 3.44 l-9.1 0 l0 -13.96 z M182.29999999999998 6.039999999999999 l7.64 0 l0 3.42 l-4.8 0 l0 -0.72 l4.08 0 l0 -1.98 l-6.2 0 l0 5.78 l4.66 0 l0 0.72 l-5.38 0 l0 -7.22 z M182.29999999999998 13.9 l6.08 0 l0 -2 l-4.7 0 l0 -4.54 l4.84 0 l0 0.72 l-4.12 0 l0 3.1 l4.7 0 l0 3.44 l-6.08 0 l0 3.32 l5.6 0 l0 0.72 l-6.32 0 l0 -4.76 z M201.25999999999996 19.28 l-2.3 0 l-2.76 -5.14 l-1.86 0.02 l0 5.12 l-2.02 0 l0 -13.28 l-0.72 0 l0 14 l3.48 0 l0 -5.14 l0.7 0 l2.74 5.14 l3.94 0 l-2.76 -5.16 l-0.66 0.26 z M196.49999999999994 6.720000000000001 c2.9 0 4.54 1.3 4.54 3.68 c0 2.16 -1.3 3.48 -3.56 3.72 l-0.54 0.06 l2.5 4.62 l0.82 0 l-2.18 -4.06 c2.4 -0.42 3.68 -1.88 3.68 -4.34 c0 -0.82 -0.18 -1.56 -0.52 -2.22 c-0.8 -1.42 -2.44 -2.18 -4.74 -2.18 l-3.54 0 l0 12.78 l0.72 0 l0 -12.06 l2.82 0 z M196.33999999999995 13.52 c2.74 0 4.04 -0.94 4.04 -3.02 c0 -1.98 -1.36 -3.1 -3.54 -3.1 l-2.52 0 l0 2.1 l2.3 0 c1.06 0 1.6 0.3 1.6 0.9 c0 0.7 -0.66 1.04 -2 1.04 l-1.16 0 l0 -1.24 l-0.74 0 l0 1.96 l1.9 0 c1.78 0 2.72 -0.62 2.72 -1.76 c0 -0.36 -0.08 -0.64 -0.26 -0.86 c-0.34 -0.5 -1.02 -0.74 -2.06 -0.74 l-1.56 0 l0 -0.68 l1.78 0 c1.78 0 2.82 0.86 2.82 2.38 c0 1.58 -1.06 2.32 -3.32 2.32 l-2 0 l0 0.7 l2 0 z"></path></g><g id="SvgjsG11743" featurekey="sloganFeature-0" transform="matrix(0.6177505001442786,0,0,0.6177505001442786,137.8975774977669,40.482954149798324)" fill="#ffffff"><path d="M12.412 5.888999999999999 l-4.6387 7.3535 l0 6.7578 l-2.9395 0 l0 -6.6895 l-4.668 -7.4219 l3.2422 0 l2.8809 4.8047 l2.8906 -4.8047 l3.2324 0 z M25.6396765625 20.19531 c-4.1504 0 -7.2168 -2.832 -7.2168 -7.2559 c0 -4.4336 3.0664 -7.2461 7.2168 -7.2461 c4.1406 0 7.207 2.8125 7.207 7.2461 c0 4.4238 -3.0664 7.2559 -7.207 7.2559 z M25.6396765625 17.5098 c2.4316 0 4.2969 -1.709 4.2969 -4.5703 c0 -2.8516 -1.8652 -4.5508 -4.2969 -4.5508 s-4.2969 1.6992 -4.2969 4.5508 c0 2.8613 1.8652 4.5703 4.2969 4.5703 z M45.7617375 20.19531 c-3.0957 0 -5.5176 -1.582 -5.5176 -5.1367 l0 -9.1699 l2.9297 0 l0 8.7695 c0 2.1484 1.1426 2.9492 2.5879 2.9492 c1.4551 0 2.6074 -0.81055 2.6074 -2.9492 l0 -8.7695 l2.9297 0 l0 9.1699 c0 3.5547 -2.4316 5.1367 -5.5371 5.1367 z M72.138678125 20 l-3.6914 -14.111 l3.0469 0 l2.7539 10.684 l3.1543 -10.684 l2.4707 0 l3.1348 10.684 l2.7832 -10.684 l3.0371 0 l-3.6914 14.111 l-3.7695 0 l-2.7344 -8.7207 l-2.7246 8.7207 l-3.7695 0 z M104.2629296875 8.467 l-5.2344 0 l0 3.2031 l4.6387 0 l0 2.5488 l-4.6387 0 l0 3.1934 l5.2344 0 l0 2.5879 l-8.1836 0 l0 -14.111 l8.1836 0 l0 2.5781 z M112.27541875 20 l0 -14.111 l5.1074 0 c4.502 0 6.7285 2.832 6.7285 7.0508 c0 4.2285 -2.2266 7.0605 -6.7285 7.0605 l-5.1074 0 z M115.20511875 17.4121 l2.0313 0 c2.5977 0 3.7891 -1.6211 3.7891 -4.4727 s-1.1914 -4.4727 -3.7891 -4.4727 l-2.0313 0 l0 8.9453 z M144.33594375 20 l-3.6914 -14.111 l3.0469 0 l2.7539 10.684 l3.1543 -10.684 l2.4707 0 l3.1348 10.684 l2.7832 -10.684 l3.0371 0 l-3.6914 14.111 l-3.7695 0 l-2.7344 -8.7207 l-2.7246 8.7207 l-3.7695 0 z M176.4601953125 8.467 l-5.2344 0 l0 3.2031 l4.6387 0 l0 2.5488 l-4.6387 0 l0 3.1934 l5.2344 0 l0 2.5879 l-8.1836 0 l0 -14.111 l8.1836 0 l0 2.5781 z M200.5322140625 5.888999999999999 c2.7637 0 4.4824 2.0508 4.4824 4.5605 c0 2.5684 -1.7188 4.4922 -4.4824 4.4922 l-2.9395 0 l0 5.0586 l-2.9297 0 l0 -14.111 l5.8691 0 z M200.0439140625 12.4902 c1.4648 0 2.1484 -0.81055 2.1484 -2.0801 c0 -1.2207 -0.68359 -2.0703 -2.1484 -2.0703 l-2.4512 0 l0 4.1504 l2.4512 0 z M215.40043125 17.4121 l4.4238 0 l0 2.5879 l-7.3535 0 l0 -14.111 l2.9297 0 l0 11.523 z M236.4994921875 20 l-1.0254 -2.9102 l-5.9277 0 l-1.0254 2.9102 l-2.998 0 l5.1953 -14.111 l3.584 0 l5.1953 14.111 l-2.998 0 z M230.4052921875 14.6387 l4.209 0 l-2.0996 -5.9863 z M256.25015625 5.888999999999999 l2.9199 0 l0 14.111 l-3.3887 0 l-6.25 -10.088 l0 10.088 l-2.9199 0 l0 -14.111 l3.3496 0 l6.2891 10.029 l0 -10.029 z"></path></g></svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_dashboard') }}">
                    <!--<i class="fas fa-chart-line"></i>-->
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_ads_index') }}">
                    <!--<i class="fas fa-hotel"></i>-->
                    Prestations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_booking_index') }}">
                    <!--<i class="fas fa-folder"></i>-->
                    Réservations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_comment_index') }}">
                    <!--<i class="fas fa-comments"></i>-->
                    Commentaires
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user_index') }}">
                    <!--<i class="fas fa-users"></i>-->
                    Utilisateurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_category_index') }}">
                    <!--<i class="fas fa-plus-circle"></i>-->
                    Catégories
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ path('homepage') }}" target="_blank" class="nav-link">
                    <!--<i class="fas fa-eye"></i>-->
                    Voir le site
                </a>
            </li>
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="{{app.user.picture}}" class="avatar avatar-mini" alt="Avatar de {{app.user.fullName}}"> {{app.user.fullName}}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDopdownLink">
                        <a href="{{ path('admin_account_logout') }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}