{% extends "presta/base.html.twig" %}

{% block title %}
    Création d'une prestation
{% endblock %}

{% form_theme form 'presta/ad/_collection.html.twig' %}

{% block body %}

<style>
    .btn-perso{
        background:color:pink!important;
    }
</style>
    
    <div class="container">
        <h1 class="my-5">Créer une nouvelle prestation</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    <hr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.price) }}
                </div>
                <div class="alert alert-light">
                    <h2>Détails de la prestation</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Images de la prestation</h2>
                    <hr>
                   {#  {{ form_row(form.imageFile) }}  #}
                    {{ form_row(form.coverImage) }}
                    {{ form_row(form.images) }}
                </div>
            </div>
        </div>

        <div class="alert alert-dark clearfix">
            <h2 class="alert-heading">Sauvegarder ma prestation</h2>
            <p>Vous êtes sur le point de créer votre prestation, nous sommes super fier de vous !</p>
            <button type="submit" class="btn btn float-right" style="background-color:#f76c6f;">
                <i class="fas fa-check"></i>
                Créer la nouvelle prestation
            </button>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}


{% block javascripts %}

<script src="{{ asset('build/js/ad.js') }}"></script>

{% endblock %}

