@import url('./bootstrap.min.css');



div.container, div.container-fluid {
    margin-top: 20px;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;

    h1, p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }

    .btn {
        margin-top: 2em;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
}

.card1 {
    font-size: 16px;
    line-height: 24px;
    font-family: ProximaNova,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222;
    text-align: center;
    list-style: none;
    cursor: pointer;
    background: #fff;
    margin: 0 5px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 64px;
        max-height: 64px;
    }

    &.avatar-mini {
        max-width: 24px;
        max-height: 24px;
    }

    &.avatar-micro {
        max-width: 20px;
        max-height: 20px;
    }
}

:root {
    --info-color: #0099CC;
  }
  
  .btn-toggle-pass {
    border: none;
    position: absolute;
    top: 211px;
    background: transparent;
    right: 17px;
    display:none;

  }
  
  .btn-toggle-pass.active {
    color: var(--info-color);
  }

.my-5 {
    text-align: center;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color:#fbb506 !important;
}

.alert {
    a {
        text-decoration: none;
    }

    .btn {
        color: white;
    }
}

.btnPerso{
    background-color:#f76c6f!important;
}

