{% extends 'base.html.twig' %}

{% block title %}
    My Wedding Planner
{% endblock %}

{% block body %}
<style>
        .cardjumbo {
            background-image:
            url('{{ asset('build/images/amour.jpg') }}');
            background-repeat: no-repeat; background-size: cover; background-position: center; 
            text-align:center;
            color:white;
            
        }

        .texte{
            font-family: "Roboto",sans-serif;
            line-height:0.5;
            font-weight:400;
        }

        .card-row {
            margin-left:90px;
            margin-right:90px;
        }

        .card{
            border-radius:10px;
        }

        .mySearch {
            font-size: 18px;
            line-height: 26px;
            -moz-appearance: none;
            -webkit-appearance: none;
            font-weight: 400;
            padding: 20px 25px;
            margin-right: 2px;
            margin-bottom: 15px;
            border: 0;
            border-radius: 4px;
            line-height: 1em;
            height: 1em;
            box-sizing: content-box;
            outline: 0;
        }

        .btn-perso{
            padding: 20px 30px!important;
            background-color: #f76c6f!important;
            border-radius: 2px;
        }



    </style>


<div class="container-fluid">
    <div class="jumbotron mt-3 cardjumbo">
        <h1 class="display-4 " style="font-weight:500;">Bienvenue sur My Wedding Planner!</h1>
        <p class="texte" style="font-size:25px;">Tout pour organiser votre mariage !</p>
        <p class="texte">Vous êtes des futurs mariés ? Et vous voulez avoir les meilleurs prestataires pour ?</p>
        <div style="padding:20px;"></div>
        <form action="{{ path('ads_index') }}" method="post">
        <div>
            <input id="txtStrSearch" name="title" autocomplete="off" type="text" value="" class="mySearch" size="30" aria-label="Que cherchez-vous ?" placeholder="Que cherchez-vous ?">
            <input id="txtLocSearch" name="txtLocSearch" autocomplete="off" type="text" value="" class="mySearch" size="30" aria-label="Où ?" placeholder="Où ?">
        </div>
            <button class="btn btn-primary btn-lg btn-perso" type="submit">Voir nos prestations</button>
        </form>
    </div>

    <h2 class="h1 my-5 text-center" style="font-weight:500!important;">Nos prestations stars</h2>

    <div class="row card-row">
        {% for data in ads %}
            {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
        {% endfor %}
    </div>

    <h2 class="h1 my-5 text-center" >Nos prestataires stars !</h2>
    
    <div class="row card-row">
        {% for data in users %}
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{data.user.fullName}}</h4>
                    <hr>
                    <div class="card-text">
                        <img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
                        <p style="font-family:Roboto,sans-serif;">{{data.user.introduction|slice(0, 100) ~ '...'}}</p>
                        <a href="{{ path('presta_show', {'slug': data.user.slug})}}" class="btn btn-success btn-perso2 float-right">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}