    <style>
        .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .btn-perso2{
            padding: 11px 11px!important;
            background-color: #f76c6f!important;
            border-radius: 3px;

        }

        h6{
            line-height: 0.9!important;
            font-size:1rem!important;
       
        }

        #description{
            font-family: roboto,sans-serif;
        }

        #card-content{
            height: 192px;
        }

        .card{
            border-radius:3px !important;
        }

</style>


{%  set url = path('ads_show', { 'slug': ad.slug }) %}




    <div class="col-md-4">
        <div class="card  mb-5" class="card1">
         {#   <div class="card-header text-center">
                {{ ad.rooms }} chambres, <strong>{{ad.price | number_format(2, ',', ' ')}} &euro; / nuit </strong> <br>
                
                {% if ad.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
                {% else %}
                    <small>Pas encore noté</small>
                {% endif %}
            </div>#}
            <a href="{{ url }}">
            {# avec vichuploader pour afficher src="{{ vich_uploader_asset(ad, 'imageFile')}}"#}
                <img src="{{ ad.coverImage }}" alt="Image de la prestation" class="card-image"
                style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
            </a>
            <div class="card-body text-center" id="card-content">
                <h6> <a class="card-subtitle mb-2 btn-link" href="{{ path('category_show', { 'slug': ad.category.slug }) }}">
                        {{ ad.category.title | upper }} 
                    </a> 
                </h6>
                <h6 class="card-title">
                   <strong> <a href="{{ url }}" class="btn-link">
                        {{ ad.title }} 
                    </a> </strong> 
                <p class="mt-3">
                    {% if ad.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %} <span style="font-size: 16px; line-height: 21px; color: #8c8c8c">{{ ad.comments|length }}</span>
                {% else %}
                    <small>Pas encore noté</small>
                {% endif %}
                </p>
                </h6>
                <p class="card-text" id="description">
                    {{ ad.introduction|slice(0, 80) ~ '...'}}
                </p>
                <p class="row d-inline-flex">
                <a href="{{ url }}" class="btn btn-primary float-right btn-sm btn-perso2"> En savoir plus !</a>
                
                {% if app.user and app.user == ad.author %}
                    <a href="{{ path('presta_ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary btn-sm">Modifier la prestation</a>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
    