{% extends 'base.html.twig' %}

{% block title %}Nos magnifiques prestations{% endblock %}

{% block body %}

<style>
        .cardjumbo {
            background-image:
            url('{{ asset('build/images/amour.jpg') }}');
            background-repeat: no-repeat; background-size: cover; background-position: center; 
            text-align:center;
            color:white;
            
        }

        .texte{
            font-family: "Roboto",sans-serif;
            line-height:1.2;
            font-weight:400;
        }

        .card-row {
            margin-left:90px;
            margin-right:90px;
        }



        .card{
            border-radius:10px;
        }


        .mySearch {
            font-size: 18px;
            line-height: 26px;
            -moz-appearance: none;
            -webkit-appearance: none;
            font-weight: 400;
            padding: 20px 25px;
            margin-right: -3px;
            margin-bottom: 15px;
            border: 0;
            border-radius: 1px;
            line-height: 1em;
            height: 1em;
            box-sizing: content-box;
            outline: 0;
        }

        .btn-perso{
            padding: 20px 30px!important;
            background-color: #f76c6f!important;
            border-radius: 2px;
        }
        .bloc-search{
            margin-top:30px;
        }


    </style>




<div class="container-fluid">
    <div class="jumbotron mt-3 cardjumbo">
        <h1 class="display-4 " style="font-weight:500;">Recherchez votre prestataire</h1>
        
        <p class="texte">Répertoire de prestataires de mariage : la plus grande liste d’entreprises spécialisées dans le mariage, avec tous les tarifs et toutes les promotions à portée de main pour l’organisation de votre grand jour. Trouvez les professionnels que vous recherchez pour réaliser le mariage de vos rêves et personnalisez chaque détail pour vous offrir des noces parfaites, à votre image.</p>
        <div style="padding:20px;"></div>
        <div class="bloc-search">
            <form action="{{ path('ads_index') }}" method="post">
            <input id="txtStrSearch" name="title" autocomplete="off" type="text" value="" class="mySearch" size="30" aria-label="Que cherchez-vous ?" placeholder="Que cherchez-vous ?">
            <input id="txtLocSearch" name="txtLocSearch" autocomplete="off" type="text" value="" class="mySearch" size="30" aria-label="Où ?" placeholder="Où ?">
            <button class="btn btn-primary btn-lg btn-perso" type="submit" role="button">Rechercher</button>
            </form>
        </div>

    </div>
</div>

<div class="container">
    <h1 class="py-5 text-center"> Voici les annonces de nos prestataires !</h1>

    <div class="row">
        {% for ad in result %}
        
            {% include 'ad/_ad.html.twig' %}
        
        {% endfor %}
        
    </div>
    {{ pagination.display() }}
</div>

{% endblock %}
