{% extends "base.html.twig" %}

{% block title %}
    {{ ad.title }}
{% endblock %}


{% block body %}

<style>
    .carouselExampleIndicators{
        border-radius:2px solid;
    }

    .button-presta{
        margin-top: 1em!important;
        font-size: 0.9em!important;
        line-height: 1em!important;
        background-color:#f76c6f!important;
    }


    p{
        font-family: roboto, sans-serif;
    }

    div#carouselExampleIndicators {
        border-radius: 5px;
    }

    .carousel-inner{
        border-radius: 3px;
    }



</style>

{% for message in app.flashes('success') %}
           <div class="alert alert-success">
                {{ message }}
           </div> 
    {% endfor %}

{% if not contactForm.vars.valid %}
    <div class="alert alert-danger">
            Veuillez correctement remplir le formulaire.
           </div> 
    {% endif %}

<div class="ad-title" style="background-image: url({{ ad.coverImage }})">  
    <div class="container">
        <h1>{{ ad.title }} </h1>
        <p>  {{ad.introduction }}</p>
        {#<p class="h2">
            <strong>{{ ad.rooms }} chambres</strong> pour <strong> {{ad.price | number_format(2, ',', ' ')}} &euro;
            </strong> par nuit
        </p>#}
        <a href="{{   path('booking_create', {'slug' : ad.slug})  }}" class="btn btn-primary button-presta">Réserver !</a>
        
        <a id="contactButton" href="#" class="btn btn-primary button-presta" {% if contactForm.vars.submitted %} style="display: none;" {% endif %}> Contacter le prestataire </a>


        {% if app.user and app.user == ad.author %}
            <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger" onclick="return confirm(
            `Êtes vous sur de vouloir supprimer la prestation : {{ad.title}} ?`)"> Supprimer l'annonce</a>
        {% endif %}
        </div>
</div>

<div class="container">
 <div id="contactForm" class="mt-4" {% if not  contactForm.vars.submitted %} style="display: none;" {% endif %} >
                {{ form_start(contactForm) }}
                <p class="font-weight-bold text-center">Formulaire de contact</p>
                <div class="row">
                    <div class="col"> 
                        <div class="md-form mt-0 input-with-post-icon">
                            <i class="fas fa-user input-prefix"></i>
                            {{ form_row(contactForm.firstname) }} 
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form mt-0 input-with-post-icon">
                            <i class="fas fa-user input-prefix"></i>
                            {{ form_row(contactForm.lastname) }} 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="md-form mt-0 input-with-post-icon">
                            <i class="fas fa-phone input-prefix"></i>
                            {{ form_row(contactForm.phone) }} 
                        </div>
                    </div>
                    <div class="col">   
                        <div class="md-form mt-0 input-with-post-icon">
                            <i class="fas fa-envelope  input-prefix"></i>
                            {{ form_row(contactForm.email) }} 
                        </div>
                    </div>
                </div>
                    {{ form_rest(contactForm) }}
               
                <div class="form-group">
                    <button class="btn btn-primary"> Envoyer </button>
                </div>
                {{ form_end(contactForm) }}
            </div>
    <div class="row">
        <div class="col-md-8 mb-3">

         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in ad.images %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {%  if loop.first %}class="active"{%   endif  %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in ad.images %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <img src="{{ image.url }}" class="d-block w-100" alt="slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ ad.title }}</h5>
                                <p>{{  image.caption }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <hr>

        <h1 class="mt-5 mb-5" style="text-decoration:underline;">Description de la prestation</h1>
        <div style="text-align:justify">
            {{ ad.content | raw}}
        </div>

           

            {% if ad.comments|length > 0 %}
                <h2 class="mt-5 mb-4" style="text-decoration:underline;">Commentaires de nos clients :</h2>

                <div class="alert alert-dark">
                    <h4 class="alert-heading text-center">
                        <div class="row align-items-center">
                            <div class="col">
                                Note globale donnée par nos clients
                            </div>
                            <div class="col">
                                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
                                <br>
                                <small>(Calculée sur {{ ad.comments|length }} avis)</small>
                            </div>
                        </div>
                    </h4>
                </div>

                {% for comment in ad.comments %}
                    <div class="bg-white rounded mb-3 py-3 px-3">
                        <strong>{{ comment.author.firstName }}</strong> a dit :
                        <blockquote>
                            {{comment.content}}
                        </blockquote>
                        <strong>Note donnée : </strong>
 
                        {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                    </div>
                {% endfor %}
            {% else %}
                <h2>Cette prestation n'a pas encore reçu de commentaires ...</h2>
            {% endif %}
        </div>
        <div class="col">
        {% set a = ad.author  %}
            <div class="row mb-4">
                <div class="col-3">
                    <a href="{{ path('presta_show', {'slug': a.slug}) }}">
                        <img src="{{   a.picture }}" class="avatar avatar-medium" alt="Avatar de {{  a.fullName }}">
                    </a>
                </div>
                <div class="col">
                    <a href="{{ path('presta_show', {'slug': a.slug}) }}">
                        <h3 style="color:#f76c6f;"> {{  a.fullName }}</h3>
                    </a>
                    <span class="badge" style="background-color:#f76c6f;"> {{   a.ads | length  }} prestations</span>
                </div>
            </div>
            <div style="text-align:justify">
                {{  a.description | raw }}
             </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/js/contact.js') }}"></script>

{% endblock %}

