{% extends 'presta/base.html.twig' %}
{% block title %}Connexion au site{% endblock %}

{% block body  %}
   <style>
    {# linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)), #}
        body {
            justify-content: center;
            height: 100vh;
            background-image:
            //url('{{ asset('build/images/nature1.jpg') }}');
            background-repeat: no-repeat; background-size: cover; background-position: center; 
            margin:0;
            padding:0;  
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            min-height:100vh;
        }
        .contenu {
        flex:1 0 auto;
    }

        .card-header{
            background-color:#f76c6f;
        }
           
        p{
            margin-bottom: 0rem;
            font-family:roboto,sans-serif;
            color: rgba(150, 150, 150, 1);
        }


        .heart {
            fill: #f76c6f;
            position: relative;
            top: 5px;
            width: 50px;
            animation: pulse 1s ease infinite;
        }

        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.3); }
            100% { transform: scale(1); }
        }

        i{
            padding-top: 7px;
            border: 1px solid rgba(229, 79, 136, 1);
            width: 32px;
            color: rgba(229, 79, 136, 1);
            height: 32px;
            border-radius: 100%;
            margin-right: 10px;

        }

        .btn-connect{
            background-color: #f76c6f;
            width: 90%;
            border: none;
            height: 50px;
            border-radius: 4px;
            color: rgba(252, 255, 255, 1);
            font-size: 1.1em;
            cursor: pointer;
            transition: .2s ease-out;

        }


        .inp-info{
            background-color: transparent!important;
            font-size: 1em!important;
            padding-top: 18px!important;
            padding-bottom: 18px!important;
            color: rgba(140, 140, 140, 1)!important;
            border: none!important;
            height: 100%!important;
            width: 75%!important;
        }

        .inp-info:focus  {
            outline:  none;
        }
        

        .inp-container {
            border: 1px solid rgba(182, 182, 182, .8);
            //width: 90%;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
            transition: .2s ease-out;
        }

        .inp-container-focus {
            border: 1px solid rgba(229, 80, 136, 1);
            box-shadow: 0px 0px 11px rgba(178, 33, 90, .3);
        }

    
        
    </style>

<div class="container contenu mb-3">
        <!--<div clnerass="col-md-4">&nbsp;</div>&nbsp;&nbsp;&nbsp; -->
    <div class="row ">
        <div class="col-md-5 m-auto text-center" align="center">
            <div class="card">
                <h5 class="card-header white-text text-center py-4 mb-3" ">
                    <strong>Connectez vous !</strong>
                </h5>
                {% if hasError %}
                    <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou alors le mot de passe est invalide</div>
                {% endif %}
                <div class="card-body px-lg-5 pt-0">
                    <form action="{{ path('presta_account_login') }}" class="text-center" style="color: #757575;" method="post">
                        <input type="hidden" name="_target_path" value="{{ path('account_index') }}"/>
                        
                        
                        <!--<div class="md-form input-with-post-icon">
                            <i class="fas fa-envelope  input-prefix"></i>
                            <input type="email" id="materialLoginFormEmail" name="_username" class="form-control" required value="{{username}}">
                            <label for="materialLoginFormEmail">Email</label>
                        </div>
                               
                        <div class="md-form mt-4" style="max-width:20rem;margin:2rem auto;">
                            <input type="password" id="password" name="_password" class="form-control" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" name="_remember_me">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Se souvenir de moi </label>
                        </div>
                        <div class="md-form">
                            <button type="submit" class="btn btn-primary"> <i class="fas fa-lock-open"></i>
                                Connexion !
                            </button>-->


                        <svg class="heart mb-5" viewBox="0 0 32 29.6">
                                <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                                c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"></path>
                            </svg>


                            <div class="inp-container username mb-4">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="email" id="materialLoginFormEmail" name="_username" placeholder="Email" class="inp-info" required value="{{username}}"/>
                                <label for="materialLoginFormEmail"></label>
                            </div>
                            
                            <div class="inp-container password mb-4">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <input type="password" id="password" name="_password" placeholder="Password" class="inp-info" required/>
                                <label for="password"></label>
                            </div>

                            <div class="custom-control custom-checkbox mb-4">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" name="_remember_me">
                                <label  class="custom-control-label " for="defaultLoginFormRemember" >Se souvenir de moi </label>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="">
                                <button type="submit" class="btn-connect mb-3">
                                    Connexion
                                </button>

                                <p><a href="{{ path('presta_account_register') }}" class="">Je n'ai pas encore de compte !</a></p>
                                <p>Mot de passe oublié ? <a href="{{path('forgotten_password')}}">Récuperer</a></p>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/js/password.js') }}"></script>

{% endblock %}



