{% extends 'presta/base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<style>
    .btn{
        background-color:pink;
        color:white;
    }

    .bloc{
        background-color:white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
</style>
     <div class="container clearfix">
        <h1 class="my-5">Modification du mot de passe</h1>

        {{ form_start(form) }}

      
         <div class="alert alert-light bloc">
            <h2 class="alert-heading">Mot de passe</h2>
            <hr>
            <div class="md-form inp-container">
                {{ form_widget(form.oldPassword) }}
            </div>
            <div class="md-form ">
                {{ form_label(form.newPassword) }}

                {{ form_widget(form.newPassword,{'id': 'password'}) }}
            </div>
                {# diff#}
            <div class="md-form ">
                {{ form_label(form.confirmPassword) }}

                {{ form_widget(form.confirmPassword,{'id': 'password-custom'}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-dark float-right">
            Modifier le mot de passe
        </button>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/js/password.js') }}"></script>

{% endblock %}