{% extends 'presta/base.html.twig' %}


{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
<style>
    body {
        justify-content: center;
        height: 100vh;
        background-image:
        //url('{{ asset('build/images/nature1.jpg') }}');
    }

    .card {
        margin-top: 10%;
    }

     p{
            margin-bottom: 0rem;
            font-family:roboto,sans-serif;
            color: rgba(150, 150, 150, 1);
        }


        .heart {
            fill: #f76c6f;
            position: relative;
            top: 5px;
            width: 50px;
            animation: pulse 1s ease infinite;
        }

        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.3); }
            100% { transform: scale(1); }
        }

        i{
            padding-top: 7px;
            border: 1px solid rgba(229, 79, 136, 1);
            width: 32px;
            color: rgba(229, 79, 136, 1)!important;
            height: 32px;
            border-radius: 100%;
            margin-right: 10px;

        }

        .btn-connect{
            background-color: #f76c6f;
            width: 90%;
            border: none;
            height: 50px;
            border-radius: 4px;
            color: rgba(252, 255, 255, 1);
            font-size: 1.1em;
            cursor: pointer;
            transition: .2s ease-out;

        }

        .inp-info{
            background-color: transparent!important;
            font-size: 1em!important;
            padding-top: 18px!important;
            padding-bottom: 18px!important;
            color: rgba(140, 140, 140, 1)!important;
            border: none!important;
            height: 100%!important;
            width: 75%!important;
            border-bottom: none!important;

        }

        .inp-info-focus{
            outline: none;
            border-bottom: none!important;
        }
        

        .inp-container {
            border: 1px solid rgba(182, 182, 182, .8);
            //width: 90%;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
            transition: .2s ease-out;
            margin-bottom:1em;
        }

        .inp-container-focus {
            border: 1px solid rgba(229, 80, 136, 1);
            box-shadow: 0px 0px 11px rgba(178, 33, 90, .3);
            outline:none!important;
        }

        textarea{
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            
        }

        .btn{
            background-color:pink;
            color:white;
        }

        .bloc{
            background-color:white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }

</style>

    <div class="container">
        <h1 class="my-5">Modification du profil</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light bloc">
                    <h2 class="alert-heading">Informations générales</h2>
                    <hr>
                    <div class="md-form mt-2 inp-container">
                        {{ form_row(form.firstName, { 'attr': {'class': 'inp-info'}}) }} 
                    </div>
                    <div class="md-form inp-container">
                        {{ form_row(form.lastName, { 'attr': {'class': 'inp-info'}}) }} 
                    </div>
                    <div class="md-form inp-container">
                        {{ form_row(form.email, { 'attr': {'class': 'inp-info'}}) }} 
                    </div>
                    <div class="md-form inp-container">
                        {{ form_row(form.picture, { 'attr': {'class': 'inp-info'}}) }} 
                    </div>
                </div>
                
               
            </div>
            <div class="col">
                <div class="alert alert-light bloc">
                    <h2 class="alert-heading">Détails</h2>
                    <hr>
                    <div class="md-form inp-container">
                        {{ form_row(form.introduction, { 'attr': {'class': 'inp-info'}}) }} 
                    </div>
                        <div class="md-form inp-container">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr':{'class': 'inp-info'}}, {'id': 'form22'}) }}</div>
                        
                    
                    <hr>
                    <p>Si vous avez terminé vos modifications, vous pouvez les sauvegarder</p>
                    <button type="submit" class="btn">
                        Enregistrer les modifications
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        
    </div>
{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/js/password.js') }}"></script>

<script>
    $('input').focus(function() {
    $(this).closest('.inp-container').toggleClass('inp-container-focus');
    $(this).closest('.inp-info').css('border-bottom','none');
    });

    $('input').focusout(function() {
    $(this).closest('.inp-container').toggleClass('inp-container-focus');
    });

    $('textarea').focus(function() {
    $(this).closest('.inp-container').toggleClass('inp-container-focus');
    
    });

    $('textarea').focusout(function() {
    $(this).closest('.inp-container').toggleClass('inp-container-focus');
    });

    $("label").text("");
    $("input").removeClass("form-control");
    $("textarea").removeClass("form-control");
    $("input").parent().removeClass("form-group");


</script>

{% endblock %}

