{% extends 'base.html.twig' %}

{% block title %}Page de {{user.fullName}} {% endblock %}

{% block body %}

<style>
    p{
        font-family:roboto,sans-serif;
    }

    .container{   
        font-family:roboto,sans-serif;
    }

</style>

    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-3 text-center">
                <img src="{{ user.picture }}" class="avatar mb-3" alt="Avatar de {{ user.fullName |capitalize }}">
                <br>
                <span class="badge badge-dark"> {{ user.bookings | length }} réservations </span>
            </div>
            <div class="col-9">
                <h1> {{ user.fullName | capitalize}}</h1>
                {# Compare le user au user courant #}               
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-dark mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('account_password') }}" class="btn btn-dark mb-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="my-5 text-center">  {{ user.description | raw | capitalize}} </div>

        <hr>

        <h2 class="mt-4 text-center"> Les réservations de {{ user.fullName | capitalize}}</h2>

        {% if user.bookings | length  > 0 %}
            <div class="row">
                {% for booking in user.bookings %}
                    {% set ad = booking.ad %}

                    <div class="row mt-5">
                        <div class="col">
                            <img src="{{ad.coverImage}}" alt="Photo de la prestation {{ad.title}}" class="img-fluid">

                            <div class="mt-3">
                                {% set comment = ad.commentFromAuthor(app.user) %}
                                {% if comment is not null %}
                                    <strong>Note donnée : </strong> {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                                {% else %}
                                    <p class="mb-0">Vous n'avez pas encore donné de note.</p>
                                    <a href="{{ path('booking_show', {'id': booking.id}) }}#comment">Je donne mon avis !</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <h4>{{ad.title}}</h4>
                            <p>
                                Réservation <strong>n°{{booking.id}}</strong><br>
                                Statut de la resérvation <strong>{{booking.status}}</strong><br>
                                Du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}} ({{booking.amount | number_format(2, ',', ' ')}} &euro;)
                            </p>
                            <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-dark">Plus d'informations</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <strong> {{ user.fullName }}</strong> n'a pas encore de réservations sur le site !
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
