{% extends 'base.html.twig' %}

{% block title %}Page de {{user.fullName}} {% endblock %}

{% block body %}

<style>
p{
    font-family:roboto,sans-serif!important; 
}   

.description{
    max-width:750px!important;
    margin-left:auto!important;
    margin-right:auto!important;
    text-transform:justify;
}


.avatar{
    border:3px solid #f7c6c6;
}

.badge-perso{
    background-color: #f7c6c6!important;
}

</style>


    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-3 offset-3 text-center">
                <img src="{{ user.picture }}" class="avatar mb-3" alt="Avatar de {{ user.fullName }}">
                <br>
                <span class="badge badge-perso"> {{ user.ads | length }} prestations </span>
            </div>
            <div class="col-6">
                <h1> {{ user.fullName }}</h1>
                {# Compare le user au user courant #}               
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('presta_account_profile') }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('presta_account_password') }}" class="btn btn-primary mb-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="my-5 text-center description">  {{ user.description | raw}} </div>

        <hr>

        <h2 class="my-5 text-center"> Les prestations de {{ user.fullName }}</h2>

        {% if user.ads | length  > 0 %}
            <div class="row">
                {% for ad in user.ads %}
                    {% include 'ad/_ad.html.twig' %}   
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <strong> {{ user.fullName }}</strong> n'a pas encore de prestation sur le site !
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
